<!-- <label *ngIf="showLabel" class="ng-cint__ng-cint-title">
    {{ title }}<span *ngIf="required" class="ng-cint-title__required">*</span>
    
  </label> -->
<div class="col-sm-5">
    <div class="ng-cint__ng-cint-content">

        <div class="ng-cint-content__ng-cint-field">

            <input type="text" 
            [value]="feet" class="ng-cint-field__input" #customInput 
            (keydown)="manageValue($event, ngCintValue, step);">

            <p class="ng-cint-field__ng-cint-controls">
                <span class="ng-cint-controls__single-control ng-cint-controls__single-control_increment"
                    (click)="manageValue($event, value, step, 'ArrowUp');">
                </span>
                <span class="ng-cint-controls__single-control ng-cint-controls__single-control_decrement"
                    (click)="manageValue($event, value, step, 'ArrowDown');">
                </span>
            </p>
        </div>

        <p *ngIf="suffix" class="ng-cint-content__label ng-cint-content__label_suffix">
            {{ suffix }}
        </p>
    </div>
</div>