<div class="page-header">
    <div class="container">
        <h1 class="title">Shop</h1>
    </div>
    <div class="breadcrumb-box">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Shop</li>
            </ul>
        </div>
    </div>
</div>

<section class="page-section">
    <div class="container shop">
        <div class="row">
            <div class="col-sm-12 col-md-9 product-page">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="img/sections/shop/s1.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="img/sections/shop/s1.jpg" data-rel="prettyPhoto[portfolio]">
                                        <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Brown Boots</h4>
                                <h5 class="text-color">$99</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-8 col-sm-6">
                        <div class="product-rating pull-right">
                            <div class="star-rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star-half-o"></i></div>
                        </div>
                        <div class="price-details">
                            <h3>Brown Boots</h3>
                            <span class="price">$99</span>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        <ul class="arrow-style">
                            <li>Type: Analog Watch</li>
                            <li>Dial: Round Dial</li>
                            <li>Strap: Leatherette</li>
                        </ul>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="ribbon-wrapper">
                                <div class="ribbon blue white no-gradiant">50% off*</div>
                            </div>
                            <div class="product-img">
                                <img src="img/sections/shop/w1.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="img/sections/shop/w1.jpg" data-rel="prettyPhoto[portfolio]">
                                        <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Chrome Watch</h4>
                                <h5 class="text-color">
                                <del>$98</del>$49</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-8 col-sm-6">
                        <div class="product-rating pull-right">
                            <div class="star-rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star-half-o"></i></div>
                        </div>
                        <div class="price-details">
                        <h3>Chrome Watch</h3>
                        <span class="actual-price">$98.00</span> 
                        <span class="price">$49.00</span></div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        <ul class="arrow-style">
                            <li>Type: Analog Watch</li>
                            <li>Dial: Round Dial</li>
                            <li>Strap: Leatherette</li>
                        </ul>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="img/sections/shop/j2.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="img/sections/shop/j2.jpg" data-rel="prettyPhoto[portfolio]">
                                        <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Vio Jerkin</h4>
                                <h5 class="text-color">$29</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-8 col-sm-6">
                        <div class="product-rating pull-right">
                            <div class="star-rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star-half-o"></i></div>
                        </div>
                        <div class="price-details">
                            <h3>Vio Jerkin</h3>
                            <span class="price">$29</span>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        <ul class="arrow-style">
                            <li>Type: Analog Watch</li>
                            <li>Dial: Round Dial</li>
                            <li>Strap: Leatherette</li>
                        </ul>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="img/sections/shop/p1.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="img/sections/shop/p1.jpg" data-rel="prettyPhoto[portfolio]">
                                        <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Green Trousers</h4>
                                <h5 class="text-color">$19</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-8 col-sm-6">
                        <div class="product-rating pull-right">
                            <div class="star-rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star-half-o"></i></div>
                        </div>
                        <div class="price-details">
                            <h3>Green Trousers</h3>
                            <span class="price">$19</span>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        <ul class="arrow-style">
                            <li>Type: Analog Watch</li>
                            <li>Dial: Round Dial</li>
                            <li>Strap: Leatherette</li>
                        </ul>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="ribbon-wrapper">
                                <div class="ribbon blue white no-gradiant">50% off*</div>
                            </div>
                            <div class="product-img">
                                <img src="img/sections/shop/w2.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="img/sections/shop/w2.jpg" data-rel="prettyPhoto[portfolio]">
                                        <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Silver Watch</h4>
                                <h5 class="text-color">
                                <del>$99</del>$49.5</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-8 col-sm-6">
                        <div class="product-rating pull-right">
                            <div class="star-rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star-half-o"></i></div>
                        </div>
                        <div class="price-details">
                        <h3>Silver Watch</h3>
                        <span class="actual-price">$99.00</span> 
                        <span class="price">$49.50</span></div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        <ul class="arrow-style">
                            <li>Type: Analog Watch</li>
                            <li>Dial: Round Dial</li>
                            <li>Strap: Leatherette</li>
                        </ul>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="img/sections/shop/i1.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="img/sections/shop/i1.jpg" data-rel="prettyPhoto[portfolio]">
                                        <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Iphone 6</h4>
                                <h5 class="text-color">$599.99</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-8 col-sm-6">
                        <div class="product-rating pull-right">
                            <div class="star-rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star-half-o"></i></div>
                        </div>
                        <div class="price-details">
                            <h3>Iphone 6</h3>
                            <span class="price">$599.99</span>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        <ul class="arrow-style">
                            <li>Type: Analog Watch</li>
                            <li>Dial: Round Dial</li>
                            <li>Strap: Leatherette</li>
                        </ul>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="img/sections/shop/c1.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="img/sections/shop/c1.jpg" data-rel="prettyPhoto[portfolio]">
                                        <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Aviator Sunglasses</h4>
                                <h5 class="text-color">&gt;$14.59</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-8 col-sm-6">
                        <div class="product-rating pull-right">
                            <div class="star-rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star-half-o"></i></div>
                        </div>
                        <div class="price-details">
                            <h3>Aviator Sunglasses</h3>
                            <span class="price">$14.59</span>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        <ul class="arrow-style">
                            <li>Type: Analog Watch</li>
                            <li>Dial: Round Dial</li>
                            <li>Strap: Leatherette</li>
                        </ul>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="ribbon-wrapper">
                                <div class="ribbon blue white no-gradiant">50% off*</div>
                            </div>
                            <div class="product-img">
                                <img src="img/sections/shop/j1.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="img/sections/shop/j1.jpg" data-rel="prettyPhoto[portfolio]">
                                        <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Green Muf Jocket</h4>
                                <h5 class="text-color">
                                <del>$25</del>$12.49</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-8 col-sm-6">
                        <div class="product-rating pull-right">
                            <div class="star-rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star-half-o"></i></div>
                        </div>
                        <div class="price-details">
                        <h3>Green Muf Jocket</h3>
                        <span class="actual-price">$25.00</span> 
                        <span class="price">$12.49</span></div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        <ul class="arrow-style">
                            <li>Type: Analog Watch</li>
                            <li>Dial: Round Dial</li>
                            <li>Strap: Leatherette</li>
                        </ul>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="img/sections/shop/s3.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <div class="add-to-cart">
                                        <a href="#">
                                        <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    </div>
                                    <div class="quick-view">
                                        <a href="img/sections/shop/s3.jpg" data-rel="prettyPhoto[portfolio]">
                                        <i class="fa fa-eye"></i> Quick View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>Gray Shoes</h4>
                                <h5 class="text-color">$39.49</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product -->
                    <div class="col-md-8 col-sm-6">
                        <div class="product-rating pull-right">
                            <div class="star-rating">
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star-half-o"></i></div>
                        </div>
                        <div class="price-details">
                            <h3>Gray Shoes</h3>
                            <span class="price">$39.49</span>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        <ul class="arrow-style">
                            <li>Type: Analog Watch</li>
                            <li>Dial: Round Dial</li>
                            <li>Strap: Leatherette</li>
                        </ul>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
            </div>
            <div class="sidebar col-sm-12 col-md-3">
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title">Price Filter</h3>
                    </div>
                    <div class="filter-price-box">
                        <!-- Filter Inner -->
                        <div class="nstSlider range" data-range_min="0" data-range_max="300" data-cur_min="0" data-cur_max="150">
                            <!-- Bar -->
                            <div class="bar"></div>
                            <!-- Min Price Drager -->
                            <div class="leftGrip">
                                <span class="drag">
                                    <span class="doller">$</span>
                                    <span class="leftLabel"></span>
                                </span>
                            </div>
                            <!-- Max Price Drager -->
                            <div class="rightGrip">
                                <span class="drag">
                                    <span class="doller">$</span>
                                    <span class="rightLabel"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title">Filter By Category</h3>
                    </div>
                    <div id="MainMenu2">
                        <div class="list-group panel">
                            <div class="collapse in" id="demo3">
                                <a href="#1" class="list-group-item" data-toggle="collapse" data-parent="#1">Watch
                                <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="1">
                                <a href="#" class="list-group-item" data-parent="#1">Men</a> 
                                <a href="#" class="list-group-item" data-parent="#1">Women</a></div>
                                <a href="#2" class="list-group-item" data-toggle="collapse" data-parent="#2">Dress
                                <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="2">
                                <a href="#" class="list-group-item" data-parent="#SubMenu2">Men</a> 
                                <a href="#" class="list-group-item" data-parent="#SubMenu2">Women</a></div>
                                <a href="#3" class="list-group-item" data-toggle="collapse" data-parent="#3">Shoes
                                <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="3">
                                <a href="#" class="list-group-item" data-parent="#3">Men</a> 
                                <a href="#" class="list-group-item" data-parent="#3">Women</a></div>
                                <a href="#4" class="list-group-item" data-toggle="collapse" data-parent="#4">Accessories
                                <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="4">
                                <a href="#" class="list-group-item" data-parent="#4">Men</a> 
                                <a href="#" class="list-group-item" data-parent="#4">Women</a></div>
                                <a href="#5" class="list-group-item" data-toggle="collapse" data-parent="#5">Electronics Item
                                <i class="fa fa-caret-down"></i></a>
                                <div class="collapse list-group-submenu" id="5">
                                <a href="#" class="list-group-item" data-parent="#5">Phone</a> 
                                <a href="#" class="list-group-item" data-parent="#5">Laptop</a> 
                                <a href="#" class="list-group-item" data-parent="#5">Music System</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- category-list -->
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title">Top Rated Products</h3>
                    </div>
                    <ul class="latest-posts clearfix shop">
                        <li>
                            <div class="post-thumb">
                                <img class="img-rounded" src="img/sections/shop/1.jpg" alt="" title="" width="84" height="84" />
                            </div>
                            <div class="post-details">
                                <div class="description">
                                    <a href="#">
                                        <!-- Text -->
                                        <h5>Nike- Round Neck T-Shirt</h5>
                                    </a>
                                </div>
                                <div class="price">
                                <del>$98</del> $49</div>
                                <div class="star-rating">
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star-half-o text-color"></i></div>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <img class="img-rounded" src="img/sections/shop/2.jpg" alt="" title="" width="84" height="84" />
                            </div>
                            <div class="post-details">
                                <div class="description">
                                    <a href="#">
                                        <!-- Text -->
                                        <h5>Polo- Round Neck T-Shirt</h5>
                                    </a>
                                </div>
                                <div class="price">
                                <del>$28</del> $12</div>
                                <div class="star-rating">
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star-half-o text-color"></i></div>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <img class="img-rounded" src="img/sections/shop/3.jpg" alt="" title="" width="84" height="84" />
                            </div>
                            <div class="post-details">
                                <div class="description">
                                    <a href="#">
                                        <!-- Text -->
                                        <h5>Nike- Round Neck T-Shirt</h5>
                                    </a>
                                </div>
                                <div class="price">
                                <del>$58</del> $25</div>
                                <div class="star-rating">
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star text-color"></i> 
                                <i class="fa fa-star-half-o text-color"></i></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title">Community Poll</h3>
                    </div>
                    <ul>
                        <li>
                            <div class="checkbox">
                                <input type="radio" name="poll" />
                                <label class="">less than 18 years</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="radio" name="poll" />
                                <label class="">18-24 years</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="radio" name="poll" />
                                <label class="">24-30 years</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="radio" name="poll" />
                                <label class="">30-40 years</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <input type="radio" name="poll" />
                                <label class="">More than 40 years</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title">Recommended</h3>
                    </div>
                    <div class="owl-carousel navigation-1" data-pagination="false" data-items="1" data-autoplay="true" data-navigation="true">
                    <img src="img/sections/shop/1.jpg" width="270" height="270" alt="" /> 
                    <img src="img/sections/shop/2.jpg" width="270" height="270" alt="" /></div>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title">Tags</h3>
                    </div>
                    <ul class="tags">
                        <li>
                            <a href="#">Corporate</a>
                        </li>
                        <li>
                            <a href="#">business</a>
                        </li>
                        <li>
                            <a href="#">agency</a>
                        </li>
                        <li>
                            <a href="#">medical</a>
                        </li>
                        <li>
                            <a href="#">studio</a>
                        </li>
                        <li>
                            <a href="#">university</a>
                        </li>
                        <li>
                            <a href="#">motors</a>
                        </li>
                        <li>
                            <a href="#">charity</a>
                        </li>
                        <li>
                            <a href="#">realestate</a>
                        </li>
                        <li>
                            <a href="#">app</a>
                        </li>
                        <li>
                            <a href="#">restaurant</a>
                        </li>
                        <li>
                            <a href="#">fitness</a>
                        </li>
                        <li>
                            <a href="#">band</a>
                        </li>
                        <li>
                            <a href="#">wedding</a>
                        </li>
                        <li>
                            <a href="#">sports</a>
                        </li>
                        <li>
                            <a href="#">fashion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page-section -->