<section class="page-section">
    <div class="container">
        <div class="bs-docs-section">
            <div data-example-id="simple-horizontal-form" class="bs-example">
                <ipx-combo-textbox [prefix]="'Prefix'" [suffix]="'Feet'" [(ngModel)]="unitValue"></ipx-combo-textbox>
            </div>

    

            <div data-example-id="form-inline-with-input-group" class="bs-example col-sm-6">
                <div  class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon" style="border-radius: 4px; border: 1px solid #ccc;">A</div>
                            <div class="input-group-addon" style="background-color: #ffffff; border: 0px solid #ccc;">
                                &nbsp; </div>
                            <input class="form-control" id="exampleInputAmount" placeholder="Amount" type="text">
                            <div class="input-group-addon">Feet</div>
                            <div class="input-group-addon" style="background-color: #ffffff; border: 0px solid #ccc;">
                                &nbsp; </div>
                            <input class="form-control" id="exampleInputAmount" placeholder="Amount" type="text">
                            <div class="input-group-addon">Inches</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>