<!-- .product -->
<div class="col-md-12">

    <div class="price-details">
        <h3>Step 2</h3>
        <span class="price">Choose the Layout of Kitchen</span>
    </div>
    <div class="description">
            <!-- <ipx-radio-button-group #radioGroupZZ name="radiogroupZZ" value="L" required="true" (change)="onRadioChange($event)">
                <ipx-radio-buton class="radio-sample" *ngFor="let item of kitchens" value="{{item.value}}">
                    {{item.name}}
                </ipx-radio-buton>
            </ipx-radio-button-group> -->

            <ipx-radio-button-group id="radioGroupOptions" name="radioGroupOptions" [(ngModel)]="layout" >
                <ipx-radio-button apply-edited class="radio-sample" *ngFor="let item of kitchens;  trackBy: item;" value="{{item.value}}" (change)="onRadioChange($event)">
                  {{ item.name }}
                </ipx-radio-button>
              </ipx-radio-button-group>

              {{layout}}

        </div>
    <div class="post-image opacity"><img [src]="kitchenImage"
            style="max-width: 700px; max-height: 300px;" [alt]="selectedItem.name" [title]="selectedItem.name"></div>
    </div>

<div class="col-md-12">
    <div class="price-details">
        <h3>Step 3</h3>
        <span class="price">Input Kitchen Measurements</span>
    </div>
    <ipx-combo-textbox *ngIf="selectedItem.sides > 0" [dimension]="A.type" name="A" [(ngModel)]="A"></ipx-combo-textbox>
    <ipx-combo-textbox *ngIf="selectedItem.sides > 1" [dimension]="B.type" name="B" [(ngModel)]="B"></ipx-combo-textbox>
    <ipx-combo-textbox *ngIf="selectedItem.sides > 2" [dimension]="C.type" name="C" [(ngModel)]="C"></ipx-combo-textbox>
</div>

<div class="col-md-12" style="padding-bottom: 50px;">
    <div class="price-details">
        <h3>Step 4</h3>
        <span class="price"> Kitchen Height</span>
    </div>
    <ipx-radio-button-group id="radioGroupOptions" name="radioGroupOptions" [(ngModel)]="kitchenHeight">
        <ipx-radio-button apply-edited class="radio-sample" *ngFor="let item of ['Roof Top', 'Standard'];  trackBy: item;" value="{{ item }}">
          {{ item }}
        </ipx-radio-button>
      </ipx-radio-button-group>

      {{kitchenHeight}}
</div>

<div class="col-md-12">
    <div class="price-details">
        <h3>Step 5</h3>
        <span class="price"> Material Quality / Brand Selection </span>
    </div>
    <div class="row">

        <div class="form-group">
            <div class="col-sm-3">
                <h4>Material</h4>
            </div>
            <div class="col-sm-4">
                <h4>Brand</h4>
            </div>
        </div>
     
        <ipx-dropdown class="col-sm-8" [options]="product1Brands" [label]="'Ply and Board'" [displayField]="'name'" [(ngModel)]="selectedBrand1"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product2Brands" [label]="'Inner Laminate'" [displayField]="'name'" [(ngModel)]="selectedBrand2"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product3Brands" [label]="'Outer Finish'" [displayField]="'name'" [(ngModel)]="selectedBrand3"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product4Brands" [label]="'Hinges'" [displayField]="'name'" [(ngModel)]="selectedBrand4"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product5Brands" [label]="'Channels'" [displayField]="'name'" [(ngModel)]="selectedBrand5"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product6Brands" [label]="'Full Size'" [displayField]="'name'" [(ngModel)]="selectedBrand6"></ipx-dropdown>
        <ipx-dropdown class="col-sm-8" [options]="product7Brands" [label]="'Border and Corners'" [displayField]="'name'" [(ngModel)]="selectedBrand7"></ipx-dropdown>
    </div>

</div>

<div class="col-md-12">
    <div class="price-details">
        <h3>Step 6</h3>
        <span class="price"> Extra Hardware Accessories</span>
    </div>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> Tall Unit
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Rolling Shutter
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Owen/ Microwave Unit
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox4" value="option4"> S Corner Unit
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox5" value="option5"> Glass Aluminium Shutters
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox6" value="option6"> Door Lift System
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox7" value="option7"> Chminey
      </label>
</div>