<!-- .product -->
<div class="col-md-12">

    <div class="price-details">
        <h3>Step 2</h3>
        <span class="price">Choose the Layout of Kitchen</span>
    </div>
    <div class="description">
            <ipx-radio-button [items]="kitchens" [(ngModel)]="selectedItem" (change)="switchKitchenLayout($event)" ></ipx-radio-button>
    </div>

    <div class="post-image opacity"><img [src]="selectedItem.imageUrl"
            style="max-width: 700px; max-height: 300px;" [alt]="selectedItem.name" [title]="selectedItem.name"></div>
</div>

<div class="col-md-12">
    <div class="price-details">
        <h3>Step 3</h3>
        <span class="price">Input Kitchen Measurements</span>
    </div>
    <ipx-combo-textbox [dimension]="A.type" name="A" [(ngModel)]="A"></ipx-combo-textbox>
    <ipx-combo-textbox [dimension]="B.type" name="B" [(ngModel)]="B"></ipx-combo-textbox>
    <ipx-combo-textbox [dimension]="C.type" name="C" [(ngModel)]="C"></ipx-combo-textbox>
</div>

<div class="col-md-12">
    <div class="price-details">
        <h3>Step 4</h3>
        <span class="price"> Kitchen Height</span>
    </div>
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Roof Top
    </label>
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Standard
    </label>
</div>

<div class="col-md-12">
    <div class="price-details">
        <h3>Step 5</h3>
        <span class="price"> Material Quality / Brand Selection </span>
    </div>
    <div class="row">

        <div class="form-group">
            <div class="col-sm-3">
                <h4>Material</h4>
            </div>
            <div class="col-sm-4">
                <h4>Brand</h4>
            </div>
        </div>
    
    
    </div>
    <div *ngFor="let product of products">
        <ipx-custom-dropdown [product]="product" [(ngModel)]="selectedBrand" [name]="product.name"></ipx-custom-dropdown>
    </div>
   
</div>

<div class="col-md-12">
    <div class="price-details">
        <h3>Step 6</h3>
        <span class="price"> Extra Hardware Accessories</span>
    </div>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> Tall Unit
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Rolling Shutter
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> Owen/ Microwave Unit
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox4" value="option4"> S Corner Unit
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox5" value="option5"> Glass Aluminium Shutters
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox6" value="option6"> Door Lift System
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox7" value="option7"> Chminey
      </label>
</div>